@font-face {
    font-family: louis;
    src: url(../font/fuenteGeorge/Louis_George_Cafe.ttf);
}

@font-face {
    font-family: josefin;
    src: url(../font/fuenteJosefin/JosefinSlab-Regular.ttf);
}

* {
    font-family: louis, sans-serif !important;
}

body {
    overflow-y: scroll;
    overflow-x: hidden
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: grey;
}

body,
.navbar {
    padding-right: 0 !important
}

.planeem {
    -moz-transform: scalex(-1);
    -o-transform: scalex(-1);
    -webkit-transform: scalex(-1);
    transform: scalex(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
    font-family: josefin, sans-serif !important;
}

.titulo {
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.text {
    font-size: 17px !important;
    color: white;
    font-family: louis, sans-serif !important;
    font-weight: bold !important;
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fuente {
    font-family: louis, sans-serif !important;
}

.fuenteTitulo {
    font-family: josefin, sans-serif !important;
}

.sombreadoCuadro {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.75);
}


/* ESTILOS BOTONES REDONDOS */

.btn-circle.btn-xl {
    width: 70px !important;
    height: 70px !important;
    padding: 10px 16px !important;
    border-radius: 35px !important;
    font-size: 24px !important;
    line-height: 1.33 !important;
}

.btn-circle.btn-lg {
    width: 50px !important;
    height: 50px !important;
    padding: 10px 16px !important;
    border-radius: 35px !important;
    font-size: 24px !important;
    line-height: 1.33 !important;
}

.btn-circle {
    width: 30px !important;
    height: 30px !important;
    padding: 6px 0px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
}


/* COLOR DE ITEMS */

.navbar .navbar-nav a {
    color: black !important;
    font-family: louis, serif !important;
    font-weight: bold;
}

.navbar .navbar-nav a:hover {
    color: #fb7323 !important;
}


/* COLOR DE ITEMS INICIO Y REGISTRATE */

.navbar .navbar-nav .nav-item a {
    color: black !important;
    font-family: louis, serif !important;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #0c8080 !important;
}


/* SECCION QUIENES SOMOS */

.quienesSomos {
    margin-top: 57px;
    height: 100vh;
    width: 100%;
    background-image: url(../img/quienes.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.quienesSomos>div {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}


/* CONTENEDOR VERDE */

.texto-cuadro {
    background-color: rgba(12, 128, 128, .8);
    border-radius: 50px;
    /* padding: 15%; */
}


/* TITULO QUIENES SOMOS */

.tituloQuienesSomos {
    font-size: 60px !important;
    color: white;
    font-family: louis, sans-serif !important;
    font-weight: bold !important;
    margin-bottom: 20px;
}


/* SECCION QUE ES PLANEEM */

.queEsPlaneEm {
    height: 100vh;
    width: 100%;
    background-image: url(../img/fondoLogo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.queEsPlaneEm>div {
    height: 100%;
    width: 100%;
    margin: 0
}

.naranja {
    color: #fb7323;
}

.tituloQueEs {
    font-family: josefin, serif !important;
    font-weight: bold;
}

.tituloQ {
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.verde {
    color: #0c8080;
}

.texto-cuadroQ {
    background-color: #0c8080;
    border-radius: 50px;
    /* padding: 10%; */
}


/* EQUIPO DE TRABAJO */

.equipoDeTrabajo {
    height: 100vh;
    width: 100%;
    background-image: url(../img/equipo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cuadroEquipoDeTrabajo {
    width: 50vh;
    height: 100%;
    background-color: black;
}

.img1 {
    background-image: url(../img/SennovaFondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img2 {
    background-image: url(../img/EsumerFondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img3 {
    background-image: url(../img/TecnoparqueFondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img4 {
    background-image: url(../img/GidpiFondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img5 {
    background-image: url(../img/BlogFondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gidpi {
    width: 200px;
    height: 150px;
    left: 110px;
    top: 30px;
    position: relative !important;
}

.esumer {
    position: relative !important;
    top: 25px;
}


/* CONTACTOS */

.Contactos {
    height: 100vh;
    width: 100%;
    background-color: white;
}

.boton-enviar-contacto {
    border-radius: 20px !important;
}


/* animación social bar */

.contenedorPadreC {
    position: absolute;
    left: 10px;
}

.contenedor {
    height: 90px;
    /* bottom: 0px; */
    display: flex;
    align-items: center
}

.contenedor2 {
    height: 90px;
    display: flex;
    align-items: center
}

.contenedor3 {
    height: 90px;
    display: flex;
    align-items: center
}

.botonF1 {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    /* color: red; */
    color: white;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
}

span {
    transition: .5s;
}

.botonF1:active {
    transform: scale(1.1);
}

.btnC {
    height: 50px;
    width: 320px;
    border: none;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.botonF2 {
    background: #2196F3;
    transition: 0.5s;
    width: 300px !important;
    margin: 0 !important;
}

.animacionVer {
    transform: scale(1);
}


/* SECTION ENLACES */

.Enlaces {
    padding: 80px;
    margin-top: 0% !important;
    /* height: 90vh; */
    width: 100%;
    background-image: url(../img/fondoLogo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloEnlaces {
    color: #0c8080;
    font-weight: bold
}

.contenedorLogos {
    height: 250px;
}


/* Estilo animacion logos */

.contenedorI {
    align-items: center;
    background: transparent;
    display: flex;
    height: 100%;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.sliderI {
    background: transparent;
    box-shadow: 0 10px 20px -5px transparent;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.sliderI::before,
.sliderI::after {
    /* background: linear-gradient(to right, transparent 0%, transparent 100%); */
    content: "";
    height: 100px;
    position: absolute;
    /* width: 200px; */
    z-index: 2;
}

.sliderI::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.sliderI::before {
    left: 0;
    top: 0;
}

.sliderI .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.sliderI .slide {
    height: 100px;
    width: 250px;
}

@media (max-width: 450px) {
    .Enlaces {
        padding: 60px;
    }
    .texto-cuadro {
        height: 75% !important;
    }
    /* TITULO QUIENES SOMOS */
    .tituloQuienesSomos {
        font-size: 30px !important;
    }
    .t-responsive {
        font-size: 45px !important;
    }
    .boxSepEnlace {
        height: 100% !important;
    }
    .texto-cuadroQ {
        height: 75% !important;
    }
    /* QUE ES PLANEEN */
    .planEstrategico {
        font-size: 20px !important;
    }
}

@media (max-width: 1000px) and (min-width: 450px) {
    .texto-cuadro {
        padding: 10%;
    }
    .texto-cuadroQ {
        padding: 10%;
    }
    /* TITULO QUIENES SOMOS */
    .tituloQuienesSomos {
        font-size: 50px !important;
    }
    /* titulo Que es */
    .t-responsive {
        font-size: 80px !important;
    }
}


/* ESTILOS PARA FORMULARIO MODAL DEL REGISTRO Y LOGIN */

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin: -1.5rem 1rem 0 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.md-tabs .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 0;
    color: #fff;
}

.light-blue.darken-3 {
    background-color: #0277bd !important;
}

.md-tabs .nav-item.open .nav-link,
.md-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.light-blue {
    background-color: #03a9f4 !important;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
    text-align: center;
}

.md-tabs {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 1;
    position: relative;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.modal-open {
    padding-right: 0 !important;
}


/*estilos que del index */

.btn-planeem {
    color: #fff;
    background-color: #0AB5A0;
    border-radius: 10px;
}

.btn-planeem:hover {
    color: #fff;
    background-color: #00544A;
}

.modal-content {
    background-color: #238276;
    border-radius: 20px !important;
}

.modal-content1 {
    border-radius: 20px !important;
    background-color: #238276;
}

.modal-content3 {
    border-radius: 20px !important;
    background-color: #238276;
}

.modal-content1 {
    position: relative;
    margin: 0 auto;
    margin-top: 12%;
    flex-direction: column;
    width: 36%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0
}

.modal-content2 {
    border-radius: 20px !important;
    background-color: #238276;
}

.modal-content2 {
    position: relative;
    margin: 0 auto;
    margin-top: 40%;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0
}

.cambiarfont a {
    color: white !important;
    font-size: 18px;
}

.cambiarfont a:hover {
    color: white !important;
}

.modal-open {
    overflow: hidden !important;
}

.form-control {
    color: black !important;
}

.form-control:hover {
    border-top: 2px solid rgb(46, 204, 113);
}


/*.inputWithIcon input[type=text]{
	padding-left:40px;
}
.inputWithIcon{
	position:relative;
}
.inputWithIcon i{
	position: absolute;
	left:0;
	top: 8px;
	padding: 9px 8px;
	color: #aaa;
	transition: 3s;
    }*/

    .inputWithIcon input[type=text]:focus+i {
        color: dodgerBlue;
    }

    .close:not(:disabled):not(.disabled) {
        margin-left: 60% !important;
    }

    .fas .fa-file-signature .prefix {
        color: white !important;
    }

    .modal-header .close {
        margin: 0rem 0rem 0.2px auto;
    }

    .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-header hr {
        width: 38%;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0px
    }

    .modal-header .raya {
        width: 58%;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0px
    }

    #tipoDocumento {
        margin-top: 10px;
        background-color: white;
    }

    #imagendocumento {
        margin-left: -3px;
    }

    #labeldocumento {
        margin-top: -20px;
        margin-bottom: 50px;
        margin-right: 10px;
    }

    #sectorEconomico {
        padding-left: 30px;
        width: 101%;
        margin-right: 53px;
        margin-left: -2px;
        background-color: white;
        ;
    }

    #imagensector {
        margin-left: -2px;
        margin-top: 2px;
        color: black;
    }

    #NIT {
        margin-left: -1px;
        width: 102%;
    }

    #imagenNIT {
        margin-left: -15px;
        margin-top: 10px;
    }

    #documento {
        margin-top: 0.6rem;
    }

    .terminos {
        color: blue;
    }


    /*estilos para los iconos dentro*/

    .inner-addon {
        position: relative;
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    .left-addon .glyphicon {
        left: 0px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    #tipoDocumento {
        padding-left: 30px;
    }

    .blank-header {
        width: 100%;
        background: #228076;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 70px 20px;
        color: #fff;
        position: relative;
        overflow: hidden;
        margin-top: 1rem;
    }

    .header-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 760px;
        z-index: 1;
        margin-top: 2rem;
    }

    #razonsocials {
        color: black;
        margin-top: 0px;
    }

    #razonSocial {
        margin-bottom: 0.6rem;
    }

    .custom-check .custom-control-lab:before {
        border-radius: .25rem
    }

    .custom-check .custom-control-inp:checked~.custom-control-lab:before {
        background-color: white;
    }

    .custom-check .custom-control-inp:checked~.custom-control-lab:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FC7323' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
    }

    .custom-check .custom-control-inp:indeterminate~.custom-control-lab:before {
        background-color: #3490dc
    }

    .custom-check .custom-control-inp:indeterminate~.custom-control-lab:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FC7323' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
    }

    .custom-check .custom-control-inp:disabled:checked~.custom-control-lab:before {
        background-color: rgba(52, 144, 220, .5)
    }

    .custom-check .custom-control-inp:disabled:indeterminate~.custom-control-lab:before {
        background-color: rgba(52, 144, 220, .5)
    }

    #NITS {
        margin-left: -3px;
        margin-top: 2px;
    }

    #documentos {
        margin-top: 0.6rem;
    }

    #telefonos {
        width: 100%;
        margin-right: 2px;
    }

    .parrafo {
        text-align: center;
    }

    #parrafo {
        margin-left: 42px;
    }

    #botonAcceder {
        border-radius: 20px !important;
        margin-right: 11%;
    }

    #botonAcceder1 {
        border-radius: 20px !important;
        margin-right: 1%;
    }

    .center {
        position: absolute;
        top: 78%;
        left: 56%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    input[type="checkbox"] {
        cursor: pointer;
        position: relative;
        top: 8px;
        right: -3px;
        width: 25px;
        height: 25px;
        -webkit-appearance: none;
        outline: none;
        transition: .5s;
    }

    input[type="checkbox"]:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20%;
        width: 100%;
        height: 100%;
        border: 4px solid #e85a13;
        box-sizing: border-box;
        transition: .5s;
    }

    input:checked[type="checkbox"]:before {
        border-left: none;
        border-top: none;
        width: 13px;
        margin-top: -3px;
        border-color: #FC7323;
        transform: rotate(45deg) translate(5px, -10px);
    }

    label {
        border-radius: 50%;
        font-size: 15px;
    }

    .aceptar {
        margin-top: -23px;
        margin-left: 18px;
        color: white;
    }

    .registro {
        top: 81px;
    }

    #apellidonatural {
        margin-right: 1px;
        width: 214px;
    }

    #responsablej {
        width: 198px;
        margin-right: 2px;
    }

    #nitj {
        margin-right: 10px;
        width: 193px;
    }

    #razonsocialj {
        width: 215px;
    }

    #sectoreconomicoj {
        width: 212px;
    }
    #modificar3 {
        position: relative;
        margin-left: 12%;
        margin-top: 3%;
        color: white;
        width: 77%;
        border-radius: 15px;

    }
    #modificar {
        position: relative;
        margin-left: 29%;
        color: white;
        width: 38rem;
        border-radius: 15px;
    }
    .modificar2 {
        padding: 0 !important;
    }
    #modificar2 {
        padding: 0 !important;
    }
    .modificar2{
        background-color: #0AB5A0;
        border-radius: 16px !important;
        height: 2rem; 
    }
    .modificar2:hover{
        background-color: #238276;
        color: blue !important !important;
    }
    .proyectosLista{
        min-width: 100%;
        height: 170px;
        max-width: 300px;
        outline: none;
        font-size: 14px;
        cursor: default;
        overflow-y: scroll;
    }
    .proyectosLista::-webkit-scrollbar{
        width: 7px;
    }
    .proyectosLista::-webkit-scrollbar-thumb{
        background: grey;
        border-radius: 5px;
    }
    
    .modalTerminos{
        width: 165%;
        margin-top: 40%;
        right: 30%;
        text-align: justify;
        height: 310px;
        color: white;
        background: #238276;
    }
    .ElimarBoton{
        color: white !important;
        font-weight: bold;
        border-radius: 13px;

    }
    .NoEliminar{
        color: white !important;
        font-weight: bold;
        border-radius: 13px;

    }
