@media screen and (max-width: 1360px)and (max-width: 1366px){
	.items li{
		margin: 12px 0;
	}
	.button2{
		top: 545px;
	}
	.SegundoConten3{
		height: 43em;
		width: 21%;
	}
	.Segundolist3{
		height: 43em;
		width: 21%;
	}
	.parrafoII{
		margin-left: 22% !important;
		margin-top: 10% !important;
		position: relative !important;
		left: 0% !important;
	}
	.parrafito{
		margin-top: 4% !important;
	}
	.Ahora{
		width: 14%;
	}
	.tablas{
		height: 284px !important;
	}
	.tablas2{
		height: 275px;
	}
	.opciones3{
		height: 290px;
	}
	.tablas3{
		height: 264px;
	}
	.button7-5{
		right: 30.6%;
	}
	.boton2_eliminar{
		right: 2%;
	}
	.empresaPuntuacion{
		margin-top: 16px;
	}
}
@media screen and (max-width: 1366px){
	.items li{
		margin: 12px 0;
	}

	.Segundolist3{
		height: 40em;
		width: 21%;
	}
	.Ahora{
		width: 14%;
	}
	.boton2_eliminar{
		right: 2% !important;
	}
	.parrafoII{
		margin-left: 9% !important;
		margin-top: 7% !important;
		position: relative !important;
		left: 0% !important;
	}
	.parrafitoII{
		margin-top: 15% !important;
	}
	.empresaPuntuacion{
		margin-top: 16px;
	}
	.tablas3{
		height: 264px;
	}
	.tablas{
		height: 284px !important;
	}
	.tablas2{
		height: 325px;
	}
	.empresa3-4{
		margin-left: 52%;
	}
}
@media screen and (max-width: 1280px){
	.button4 , .button3  , .button5{
		top: 191px;
	}
	.borde3, .borde2,.borde1{
		top:290px;
	}
}
@media screen and (max-width: 1300px){
	.button4 , .button3  , .button5{
		top:192px;
	}
	.borde3, .borde2,.borde1{
		top:291px;
	}
}
@media screen and (max-width: 1530px){
	.tablas{
		height: 248px;
	}
	.opciones{
    left: 12%;
    width: 81%;
	}
	.contenedorper5{
		width: 82%;
    	margin-left: 11%;
	}
	.contenedorper{
		height: 428px;
	}
	.EPE .row{
		width: 102%;
		height: 54%;
	}
	.analisisEfi{
		top: 44%;
	}
	.tituloestra{
		top: 195px;
	}
	.botonGif2{
		width: 68%;
		right: 17%;
		margin-top: -23%;
	}
	.contenedorper3{
		width: 75%;
		margin-top: 6%;
		margin-left: 14%;
	}
	.opciones3{
		left: 15%;
		height: 344px;
		width: 74%;
	}
	.botonGif{
		width: 60%;
		right: 19%;
	}
	.contenedorper4{
    	width: 76%;
    	height: 414px;
    	margin-top: 3%;
	}
	.pesorela{
		top: 290px;
	}
	.califica{
		top: 290px;
	}
	.pesopo{
		top: 290px;
	}
	.menu_header{
		width: 3%;
	}

}
@media screen and (max-width: 1920px){
 	#infoAnsorft {
    	top: 8%;
   	 	right: 415px;
  	}
  	#infoAnsorft1 {
    	top: 8%;
    	right: 208px;
	}
	#infoAnsorft3{
    	right: 645px;
	}
	#infoAnsorftExternos{
		top: 8%;
	}
	.button2 {
		top: 650px;
	}
	.button2_agregar1 {
		top: 749px;
	}
	.tituloestra {
    	font-size: 27px;
    	line-height: 45px;
	}
	.SegundoConten3 {
    	height: 53em;
	}
	.contenedorpe {
    	margin-top: 6%;
	}
	.contenedorper5 {
    	height: 550px;
	}
	.opciones {
    	height: 532px;
	}
	.contenedor4 {
    	margin-top: 10%;
	}
	#modalEmpresa {
    	height: 848px;
	}
	.analisisEfi {
    	position: absolute;
    	top: 42%;
    	left: 45%;
    	z-index: 3;
	}
	.scrollfortaleza2 {
    	width: 104%;
	}
}